* {
	padding: 0;
	margin: 0;
}

:root {
	padding: 0;
	background-color: white;
	margin: 0;
}

.hero {
	display: flex;
	width: 100vw;
	height: 100vh;

	justify-content: flex-start;
	align-items: center;
}

.hero-text-plus-buttons {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	margin-left: 144px;

	align-items: flex-start;
	justify-content: flex-start;
	gap: 24px;

	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 1.2;
}

.hero-text {
	width: 500px;
}

.hero-team {
	font-weight: 500;
	color: #0059ff;
}

.hero-company {
	font-weight: 500;
}

.buttons {
	display: flex;
	width: fit-content;
	height: fit-content;
	gap: 16px;

	padding: 4px 0 4px 0;
}

.chat-button {
	position: relative;
	display: flex;
	width: fit-content;
	height: fit-content;

	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	background-color: #2f59ff;
	color: white;
	outline: none;
	border-radius: 4px;

	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;

	cursor: pointer;
	transition: 200ms ease-in-out;
}

.projects-button {
	display: flex;
	width: fit-content;
	height: fit-content;

	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	background-color: white;
	color: black;
	outline: 1px solid black;
	border-radius: 4px;

	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;

	transition: 100ms ease-in-out;
	cursor: default;
}

.in-icon {
	position: absolute;
	left: 16px;
	opacity: 0;
	transition: 200ms ease-in-out;
}

.chat-button:hover {
	border-radius: 23px;
	padding-left: 40px;
}

.chat-button:hover > .in-icon {
	opacity: 100%;
}

.projects-button:hover {
	color: white;
	background-color: black;
}

.projects {
	display: flex;
	width: 100vw;
	height: 100vh;

	justify-content: center;
	align-items: center;

	color: white;
	background-color: black;
}
